.task-page-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #1E1E1E;
    font-family: Arial, sans-serif;
}

.task-list-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    background-color: #2c2c2c;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.task-all-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    background-color: transparent;
    border-radius: 5px;
    border-bottom: 1px solid #444;
    color: #fff;
}

.task-all-item h2 {
    font-size: 24px;
    color: #00FF00;
    margin-bottom: 10px;
}

.task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-difficulty strong {
    font-size: 16px;
    color: #00FF00;
    font-weight: bold;
}

.task-all-item p {
    font-size: 16px;
    color: #bbb;
    margin-bottom: 8px;
}
.task-example-section{
    display:flex;
    justify-content: space-between;
}


.task-all-item .task-example-section h3 {
    font-size: 20px;
    color: #00FF00;
    margin-bottom: 8px;
}

.task-all-item .task-example p {
    font-size: 16px;
    color: #ddd;
}

.language-selector {
    margin-top: 8px;
}

.language-selector h3 {
    font-size: 18px;
    color: #00FF00;
    margin-bottom: 12px;
}

.language-list {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.language-image-wrapper {
    text-align: center;
}

.language-image-wrapper img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    transition: transform 0.3s;
}

.language-image-wrapper img:hover {
    transform: scale(1.1);
}

.difficulty-star {
    color: #FFD700;
}

.p-paginator {
    background: #1E1E1E;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.p-paginator button {
    color: #fff;
    border: none;
    background: none;
    font-size: 16px;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.p-paginator button:hover {
    background-color: #00FF00;
    color: #000;
}
