.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: #1E1E1E;
}

.lang {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
    letter-spacing: 2px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-left: 305px;
}

.choseTask {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
    letter-spacing: 2px;
    margin-top: 60px;
}

.languages-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 20px;
    justify-items: center;
}

.language-img-wrapper {
    position: relative;
    width: 60px;
    height: 60px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.language-img-wrapper:hover {
    transform: scale(1.1);
}

.language-img {
    width: 50px;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
}

.language-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.language-img-wrapper:hover .language-title {
    opacity: 1;
}

.taskContainer {
    border: 2px solid #00FF00;
    width: 1065px;
    height: 300px;
    background-color: transparent;
}

.buttonTasks {
    margin-top: 20px;
}

.taskContainer h2 {
    color: #ffffff;
}

.taskContainer p {
    color: #ffffff;
}

.taskContainer {
    border: 2px solid #00FF00;
    width: 1065px;
    background-color: transparent;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    height: auto;
}

.task-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    width: 95%;
}

.task-info {
    flex: 1;
    color: #fff;
    max-width: 80%;
    overflow: hidden;
    word-wrap: break-word;
}

.task-info h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #00FF00;
}

.task-info p {
    font-size: 19px;
    line-height: 1.5;
    color: #ffffff;
    overflow-y: auto;
}

.example h3 {
    font-size: 18px;
    margin-top: 20px;
    color: #00FF00;
}

.task-example p {
    font-size: 18px;
    color: #ffffff;
    margin-top: 5px;
}

.task-details {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 16px;
    text-align: right;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}

.task-details p {
    margin: 5px 0;
}

.star {
    color: #FFD700;
}

.task-details strong {
    color: #00FF00;
}

.task-container p {
    color: #ffffff;
    font-size: 16px;
}

.buttonHandleTasksNext,
.buttonHandleTasksPrev{
    color: #00FF00;
    cursor: pointer;

}
.buttonHandleTasksNext{
    margin-left: 30px;
}
.buttonHandleTasksPrev{
    margin-right: 30px;
}

