.task-solution-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #1E1E1E;
}

.task-output-container {
    min-width: 1100px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px;
    background-color: #2c2c2c;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

.task-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    width:100%;
}

.task-infos {
    flex: 1;
    color: #fff;
    max-width: 100%;
}

.task-infos h2 {
    font-size: 28px;
    color: #00FF00;
    margin-bottom: 15px;
}

.task-infos p {
    font-size: 18px;
    line-height: 1.4;
    color: #bbb;
    margin-bottom: 10px;
}

.examples h3 {
    font-size: 22px;
    margin-top: 20px;
    color: #00FF00;
}

.task-examples p {
    font-size: 18px;
    color: #ddd;
    margin-bottom: 5px;
}

.task-output-container {
    position: relative;
}

.task-detailss {
    position: absolute;
    top: 135px;
    right: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}

.task-detailss p {
    margin: 5px 0;
}

.star {
    color: #FFD700;
}

.user-code pre {
    background: #333;
    color: #fff;
    padding: 12px;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 18px;
}

.other-solutions {
    margin-top: -40px;
    color: #fff;
}

.solution-item {
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.solution-item pre {
    background: #222;
    color: #ddd;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}

.other-solutions h3 {
    color: #00FF00;
    font-size: 22px;
    margin-bottom: 20px;
}
.p-paginator {
    background: #1E1E1E;
}
.p-paginator-first,
.p-paginator-last,
.p-paginator-next,
.p-paginator-prev,
.p-paginator-page{
    color: #fff;
}

.p-paginator-last:hover,
.p-paginator-first:hover,
.p-paginator-next:hover,
.p-paginator-prev:hover,
.p-paginator-current,
.p-paginator-page:hover,
.p-paginator-page.p-highlight{
    background: #00FF00;
    color: #000;
}
.other-solutions-details{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}
.user-infos p{
    display: flex;
    justify-content: space-between;
    font-size: 17px;
}
.ͼ16 .cm-activeLine {
    background: none;
}

.pButtonSecondaryes {
    width: 100%;
    border-color: #ffffff;
    color: #FFFFFF;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.pButtonSecondaryes:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}
